/* --------------------------------------------------------------------- */
/* STYLE_GUIDE */
/* --------------------------------------------------------------------- */
/* Order:                   */
/*  font size guide index   */
/*    - regular             */
/*    - semi-bold           */
/*    - bold                */

/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_10 */
QLabel[styleRole="update-app-path"],
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="10"][SemiBold="false"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 10px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_11 */
QTextEdit#pc_TextEditDpComment,
stw--opensyde_gui--C_SyvDaItTaView,
stw--opensyde_gui--C_SyvDaItTaView::item,
stw--opensyde_gui--C_SyvDaItPaTreeView,
stw--opensyde_gui--C_SyvDaItPaTreeView::item,
stw--opensyde_gui_elements--C_OgeLeParam,
stw--opensyde_gui_elements--C_OgeWiParamSpinBoxGroup QAbstractSpinBox,
stw--opensyde_gui_elements--C_OgeCbxParam,
stw--opensyde_gui_elements--C_OgeCbxParam QAbstractItemView,
stw--opensyde_gui_elements--C_OgeLabToolTipBase[styleRole="status-information-small"],
stw--opensyde_gui_elements--C_OgeLabToolTipBase[styleRole="group-sub-item"],
stw--opensyde_gui--C_SdTopologyListWidget,
stw--opensyde_gui_elements--C_OgeLabToolTipBase[styleRole="progress-log-item"],
QLabel[styleRole="topology-toolbox-user-nodes"]
{
font-family: "Segoe UI";
font-size: 11px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_12 */
stw--opensyde_gui--C_NagTopTreeView,
stw--opensyde_gui_elements--C_OgeTedToolTipContent,
stw--opensyde_gui_elements--C_OgePubNavigationHover,
QLabel[styleRole="update-app-version"],
stw--opensyde_gui--C_SdTopologyListWidget::item:selected,
stw--opensyde_gui--C_SdTopologyListWidget::item:hover,
stw--opensyde_gui_elements--C_OgeTedTable,
QLabel[styleRole="toolbar-search-result-title"],
QLabel[styleRole="toolbar-search-result-subtitle"],
QLabel[styleRole="toolbar-no-search-result"],
stw--opensyde_gui_elements--C_OgeLeContextMenuBase[styleRole="le-toolbar-search"],
stw--opensyde_gui_elements--C_OgeTebContextMenuBase[styleRole="teb-message-details"],
stw--opensyde_gui--C_SdNdeHalcConfigTreeView
stw--opensyde_gui_elements--C_OgeLeTable,
stw--opensyde_gui_elements--C_OgeSpxToolTipBase[styleRole="spx-table"],
stw--opensyde_gui_elements--C_OgeSpxFactor[styleRole="spx-factor-table"],
stw--opensyde_gui_elements--C_OgeSpxDoubleToolTipBase[styleRole="spx-table-double"],
stw--opensyde_gui_elements--C_OgeWiTableSpinBoxGroup QAbstractSpinBox,
stw--opensyde_gui--C_SdNdeDpListDataSetView,
stw--opensyde_gui--C_SdNdeDpListDataSetView::item,
stw--opensyde_gui--C_SyvDaPeUpdateModeTableView,
stw--opensyde_gui--C_SyvDaPeUpdateModeTableView::item,
stw--opensyde_gui--C_SyvDaItPaArView,
stw--opensyde_gui--C_SyvDaItPaArView::item,
stw--opensyde_gui--C_SdNdeDpListArrayEditView,
stw--opensyde_gui--C_SdNdeDpListArrayEditView::item,
stw--opensyde_gui--C_SdNdeSfoResetMessageTableView,
QMenu[styleRole="mu-tab-chart-fit"]::item,
stw--opensyde_gui--C_SdNdeSfoResetMessageTableView::item,
stw--opensyde_gui_elements--C_OgeCbxTable,
stw--opensyde_gui_elements--C_OgeCbxTable QAbstractItemView,
stw--opensyde_gui_elements--C_OgeSpxTableHalc QAbstractSpinBox,
stw--opensyde_gui_elements--C_OgeCbxTableHalc,
stw--opensyde_gui_elements--C_OgeCbxTableHalc QAbstractItemView,
stw--opensyde_gui_elements--C_OgeCbxMultiSelectTableHalc,
stw--opensyde_gui_elements--C_OgeCbxMultiSelectTableHalc QListWidget,
stw--opensyde_gui_elements--C_OgeLeTableHalc

{
font-family: "Segoe UI";
font-size: 12px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_12 */
stw--opensyde_gui--C_SdNdeSingleHeaderView,
stw--opensyde_gui--C_SdNdeSingleHeaderView::section,
stw--opensyde_gui--C_SdNdeDpListDataSetView QLabel,
stw--opensyde_gui--C_SyvDaPeUpdateModeTableHeaderView,
stw--opensyde_gui--C_SyvDaPeUpdateModeTableHeaderView::section,
stw--opensyde_gui--C_SyvDaItPaArView QLabel,
stw--opensyde_gui--C_SdNdeDpListArrayEditView QLabel,
stw--opensyde_gui--C_SdNdeSfoResetMessageTableView QHeaderView,
stw--opensyde_gui--C_SdNdeSfoResetMessageTableView QHeaderView::section,
QLabel[styleRole="navigation-sub-heading"]
{
font-family: "Segoe UI";
font-size: 12px;
font-weight: 600; /*semibold*/
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_13 */
stw--opensyde_gui_elements--C_OgePubOptions,
stw--opensyde_gui--C_SyvDaItTaView QHeaderView,
stw--opensyde_gui--C_SyvDaItPaTreeView QHeaderView,
QLabel[styleRole="properties-sub-heading"],
stw--opensyde_gui_elements--C_OgeRabProperties,
stw--opensyde_gui_elements--C_OgeTebLabel,
QPushButton[styleRole="toggle"],
stw--opensyde_gui_elements--C_OgeLabToolTipBase[styleRole="group-item"],
stw--opensyde_gui_elements--C_OgeChxToolTipBase[styleRole="chx-properties"],
stw--opensyde_gui_elements--C_OgeLabContextMenuBase[styleRole="group-item-value"],
stw--opensyde_gui_elements--C_OgeCbxFontProperties,
stw--opensyde_gui_elements--C_OgeCbxFontProperties QListView,
stw--opensyde_gui_elements--C_OgeCbxText,
stw--opensyde_gui_elements--C_OgeCbxTextLineEdit,
stw--opensyde_gui_elements--C_OgeCbxText QListView,
stw--opensyde_gui_elements--C_OgeCbxIconOnly[styleRole="cbx-line"],
stw--opensyde_gui_elements--C_OgeCbxIconOnly[styleRole="cbx-line"] QListView,
stw--opensyde_gui_elements--C_OgeCbxIconOnly[styleRole="cbx-arrow"],
stw--opensyde_gui_elements--C_OgeCbxIconOnly[styleRole="cbx-arrow"] QListView,
stw--opensyde_gui_elements--C_OgeTableWidgetComIf,
stw--opensyde_gui_elements--C_OgeTableWidgetComIf QCheckBox,
QLabel[styleRole="node-prop-com-if-table"],
stw--opensyde_gui_elements--C_OgeTableWidgetComIf::item,
stw--opensyde_gui_elements--C_OgeSpxToolTipBase[styleRole="spx-table-com-if"],
stw--opensyde_gui_elements--C_OgeSpxToolTipBase[styleRole="spx-number"],
stw--opensyde_gui_elements--C_OgeSpxDoubleToolTipBase[styleRole="spx-double-properties"],
stw--opensyde_gui_elements--C_OgeSpxInt64ToolTipBase[styleRole="spx-int64-properties"],
stw--opensyde_gui_elements--C_OgeSpxFactor[styleRole="spx-factor-properties"],
stw--opensyde_gui_elements--C_OgeWiSpinBoxGroupProperties QAbstractSpinBox,
stw--opensyde_gui_elements--C_OgeTedPropertiesComment,
stw--opensyde_gui_elements--C_OgeTedDbComment,
stw--opensyde_gui_elements--C_OgeTebContextMenuBase[styleRole="teb-report"],
stw--opensyde_gui--C_TblTreDataElementView,
stw--opensyde_gui--C_SdBueCoAddSignalsView,
stw--opensyde_gui--C_SdNdeHalcConfigImportView,
stw--opensyde_gui_elements--C_OgeTreeViewCheckable,
stw--opensyde_gui--C_SdBueMessageSelectorTreeWidget,
stw--opensyde_gui--C_SdNdeCoConfigTreeView,
stw--opensyde_gui_elements--C_OgeChxDefaultSmall,
stw--opensyde_gui_elements--C_OgeLeProperties,
stw--opensyde_gui_elements--C_OgeLeIpAddress,
stw--opensyde_gui_elements--C_OgeLeFilePath,
stw--opensyde_gui_elements--C_OgeLePlaceholderVar,
stw--opensyde_gui_elements--C_OgePubProjAction[CanMonitorButton="true"],
stw--opensyde_gui--C_SdNdeDpSelectorAddListWidget,
stw--opensyde_gui_elements--C_OgeMuSections::item,
stw--opensyde_gui_elements--C_OgeMuSections QLabel,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="13"][SemiBold="false"][Bold="false"],
QLabel[styleRole="toolbox-heading-group"],
stw--opensyde_gui_elements--C_OgeTawToolBox QTabBar::tab,
QLabel[styleRole="progress-log-heading"],
stw--opensyde_gui--C_SdNdeHalcChannelTreeView,
QLabel[styleRole="dashboard-chart"],
stw--opensyde_gui_elements--C_OgeLabGenericWithContextMenu,
stw--opensyde_gui_elements--C_OgeLabExternalLink,
stw--opensyde_gui--C_SdBueJ1939AddMessagesFromCatalogTreeView,
stw--opensyde_gui--C_SdNdeDalLogJobDataSelectionTableView,
stw--opensyde_gui--C_NagUnUsedProjectFilesTableView,
stw--opensyde_gui--C_SdNdeDalLogJobsListView
{
font-family: "Segoe UI";
font-size: 13px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_13 */
stw--opensyde_gui_elements--C_OgePubProjAction[Border="true"],
stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="configure"],
stw--opensyde_gui_elements--C_OgeLeSearch,
stw--opensyde_gui_elements--C_OgePubToolBar,
stw--opensyde_gui_elements--C_OgeTableWidgetComIf QHeaderView,
stw--opensyde_gui_elements--C_OgeTableWidgetComIf QHeaderView::section,
stw--opensyde_gui_elements--C_OgePubTreeWidgetRoot,
stw--opensyde_gui--C_SdBueNodeSelectorWidget QLabel#pc_BueNodeSelectorTitleLabel,
QPushButton[styleRole="message-ok"],
QPushButton[styleRole="message-cancel"],
stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="halc-overview"],
stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="data-logger-jobs-overview"],
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="13"][SemiBold="true"][Bold="false"],
stw--opensyde_gui_elements--C_OgePubGenericTextWithBackground[Font="13"][SemiBold="true"][Bold="false"],
stw--opensyde_gui_elements--C_OgePubAddChartDataElement

{
font-family: "Segoe UI";
font-size: 13px;
font-weight: 600; /*semibold*/
}

/* STYLE_GUIDE_FONT_BOLD_13 */
QPushButton[styleRole="toggle-bold"],
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="13"][SemiBold="false"][Bold="true"]
{
font-family: "Segoe UI";
font-size: 13px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_14 */
stw--opensyde_gui_elements--C_OgeLeNavigation,
stw--opensyde_gui_elements--C_OgeLabFrameError,
QPushButton[styleRole="navigation"],
stw--opensyde_gui_elements--C_OgeChxToolTipBase[styleRole="chx-default-checked-disabled"],
stw--opensyde_gui_elements--C_OgeSpxInt64Factor[styleRole="spx-int64-factor-table"],
stw--opensyde_gui_elements--C_OgeLabToolTipBase[styleRole="state-info"],
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="false"][Bold="false"],
QLabel[styleRole="node-data-pool-selected-items"],
stw--opensyde_gui_elements--C_OgeContextMenu,
stw--opensyde_gui_elements--C_OgeLabToolTipBase[styleRole="list-header-highlighted"],
stw--opensyde_gui_elements--C_OgeLabToolTipBase[styleRole="com-list-header"],
stw--opensyde_gui_elements--C_OgeSpxEditProperties,
stw--opensyde_gui_elements--C_OgeLabContextMenuBase[styleRole="description-message"],
stw--opensyde_gui--C_SdNdeCoOverviewTableView,
stw--opensyde_gui--C_SdNdeCoPdoTableView
{
font-family: "Segoe UI";
font-size: 14px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_14 */
QLabel[styleRole="heading-tool-tip"],
QPushButton[styleRole="cancel"],
QPushButton[styleRole="dialog"],
QPushButton[styleRole="text-only-underline"],
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="true"][Bold="false"],
QTextEdit#pc_TextEditDpName,
stw--opensyde_gui--C_SdNdeDpListDataSetHeaderView,
stw--opensyde_gui--C_SdNdeDpListDataSetHeaderView::section,
stw--opensyde_gui_elements--C_OgeTreeWidgetToolBarSearch,
stw--opensyde_gui--C_SdNdeHalcConfigTreeView QHeaderView::section,
stw--opensyde_gui--C_SdBueCoAddSignalsView QHeaderView::section,
stw--opensyde_gui_elements--C_OgePubUpdate,
stw--opensyde_gui_elements--C_OgeChxToolTipBase[styleRole="chx-system-commisioning-edit"],
stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="halc-panel"],
stw--opensyde_gui_elements--C_OgePubGenericTextWithBackground[Font="14"][SemiBold="true"][Bold="false"],
stw--opensyde_gui--C_SdBueJ1939AddMessagesFromCatalogTreeView QHeaderView::section,
stw--opensyde_gui--C_SdNdeDalLogJobDataSelectionTableView QHeaderView::section,
stw--opensyde_gui--C_NagUnUsedProjectFilesTableView QHeaderView::section
{
font-family: "Segoe UI";
font-size: 14px;
font-weight: 600; /*semibold*/
}

/* STYLE_GUIDE_FONT_BOLD_14 */
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="14"][SemiBold="false"][Bold="true"],
stw--opensyde_gui_elements--C_OgePubGenericTextWithBackground[Font="14"][SemiBold="false"][Bold="true"]
{
font-family: "Segoe UI";
font-size: 14px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_16 */
QLabel[styleRole="toolbox-heading-group-big"],
stw--opensyde_gui_elements--C_OgeLabContextMenuBase[styleRole="heading-group-bold"],
stw--opensyde_gui_elements--C_OgeChxToolTipBase[styleRole="chx-default-checked-disabled"][Font="16"][SemiBold="false"][Bold="false"],
stw--opensyde_gui_elements--C_OgeLabToolTipBase[styleRole="status-information"],
QRadioButton[styleRole="rab-check-box"],
QLabel[styleRole="list-header"],
QPushButton[styleRole="zoom-notification"],
QLabel[styleRole="progress-text"],
QLabel[styleRole="list-header-heading"],
stw--opensyde_gui_elements--C_OgeLeListHeader,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="16"][SemiBold="false"][Bold="false"],
stw--opensyde_gui_elements--C_OgeTawPageNavi QTabBar::tab
{
font-family: "Segoe UI";
font-size: 16px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_16 */
QPushButton[styleRole="text-only-edit"],
QPushButton[styleRole="text-with-border-edit"],
stw--opensyde_gui_elements--C_OgePubUseCaseNav,
stw--opensyde_gui_elements--C_OgePubProjAction,
QLabel[styleRole="update-node-title"],
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="16"][SemiBold="true"][Bold="false"],
/*stw--opensyde_gui_elements--C_OgeTawAlternative QTabBar::tab,*/
stw--opensyde_gui_elements--C_OgeLabToolTipBase[styleRole="dashboard-tab"]
{
font-family: "Segoe UI";
font-size: 16px;
font-weight: 600; /*semibold*/
}

/* STYLE_GUIDE_FONT_BOLD_16 */
stw--opensyde_gui_elements--C_OgeLabContextMenuBase[styleRole="heading-message"]
{
font-family: "Segoe UI";
font-size: 16px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_18 */
stw--opensyde_gui_elements--C_OgeLePropertiesName
{
font-family: "Segoe UI";
font-size: 18px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_18 */
QLabel[styleRole="heading-widget-sub-title"],
QLabel[styleRole="heading-widget-sub-sub-title"],
stw--opensyde_gui_elements--C_OgeTawSelector QTabBar::tab,
stw--opensyde_gui_elements--C_OgePubIconText,
stw--opensyde_gui_elements--C_OgePubUseCase,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="18"][SemiBold="true"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 18px;
font-weight: 600; /*semibold*/
}

/* STYLE_GUIDE_FONT_BOLD_18 */
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="18"][SemiBold="false"][Bold="true"]
{
font-family: "Segoe UI";
font-size: 18px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_20 */
QLabel[styleRole="update-heading"]
{
font-family: "Segoe UI";
font-size: 20px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_20 */
QLabel[styleRole="heading-properties"]
{
font-family: "Segoe UI";
font-size: 20px;
font-weight: 600; /*semibold*/
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_22 */
stw--opensyde_gui_elements--C_OgeLabPopUpTitle[styleRole="popup-sub-title"]
{
font-family: "Segoe UI";
font-size: 22px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_22 */
QLabel[styleRole="node-type"],
QLabel[styleRole="category-sub-heading"]
{
font-family: "Segoe UI";
font-size: 22px;
font-weight: 600; /*semibold*/
}

/* STYLE_GUIDE_FONT_BOLD_22 */
QLabel[styleRole="heading-widget-title"],
stw--opensyde_gui_elements--C_OgeLabPopUpTitle[styleRole="popup-title"],
QLabel[styleRole="node-type"]
{
font-family: "Segoe UI";
font-size: 22px;
font-weight: bold;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_24 */
stw--opensyde_gui_elements--C_OgeLeDark,
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="24"][SemiBold="false"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 24px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_30 */
stw--opensyde_gui_elements--C_OgeLabToolTipBase[styleRole="category-heading"],
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="30"][SemiBold="false"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 30px;
font-weight: normal;
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR_36 */
QLabel[styleRole="update-time"]
{
font-family: "Segoe UI";
font-size: 36px;
font-weight: normal;
}

/* STYLE_GUIDE_FONT_SEMIBOLD_36 */
stw--opensyde_gui_elements--C_OgeLabGenericNoPaddingNoMargins[Font="36"][SemiBold="true"][Bold="false"]
{
font-family: "Segoe UI";
font-size: 36px;
font-weight: 600; /*semibold*/
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_SEMIBOLD_40 */
QLabel[styleRole="bus-type"]
{
font-family: "Segoe UI";
font-size: 40px;
font-weight: 600; /*semibold*/
}

/* --------------------------------------------------------------------- */
/* STYLE_GUIDE_FONT_REGULAR */
stw--opensyde_gui_elements--C_OgeWiDashboardSpinBoxGroup QAbstractSpinBox,
stw--opensyde_gui_elements--C_OgeLabDashboardDefault,
stw--opensyde_gui_elements--C_OgeLabDashboardProgressBarMaximum,
stw--opensyde_gui_elements--C_OgeLabDashboardLabelValue
{
font-family: "Segoe UI";
}

/* STYLE_GUIDE_FONT_BOLD */
QLabel[styleRole="dashboard-label-caption"]
{
font-family: "Segoe UI";
font-weight: bold;
}
