/* --------------------------------------------------------------------- */
QLineEdit#lineEditProperties,
QLineEdit#lineEditPropertiesName,
QLineEdit#lineEditNavigation,
QLineEdit#lineEditStyled[variant="Dark"]
{
border-style: solid;
border-width: 1px;
}

/* --------------------------------------------------------------------- */
QLineEdit#lineEditStyled[variant="Dark"],
QLineEdit#lineEditNavigation,
QLineEdit#lineEditPropertiesName
{
padding-left: 10px;
padding-right: 10px;
}

/* --------------------------------------------------------------------- */
QLineEdit#lineEditProperties,
QLineEdit#lineEditFilePath,
QLineEdit#lineEditPlaceholderVar
{
padding-left: 6px;
padding-right: 6px;
padding-bottom: 1px;
}

/* --------------------------------------------------------------------- */
QLineEdit#lineEditListHeader
{
border-style: solid;
border-width: 1px;
}

/* --------------------------------------------------------------------- */
QTextEdit#pc_TextEditDpName,
QTextEdit#pc_TextEditDpComment,
QLineEdit#lineEditIpAddress
{
border-style: none;
border-width: 0px;
}

/* --------------------------------------------------------------------- */
QLineEdit#lineEditStyled[variant="Table"]
{
border-style: solid;
border-width: 1px;
padding: 0px;
margin-top: 3px;
margin-bottom: 3px;
}

/* --------------------------------------------------------------------- */
QLineEdit#lineEditStyled[variant="Param"]
{
border-style: solid;
border-width: 1px;
padding: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

/* --------------------------------------------------------------------- */
QLineEdit#lineEditFilePath,
QLineEdit#lineEditPlaceholderVar,
QLineEdit#lineEditProperties[NoRightBorder="true"]
{
border-style:solid;
border-width:1px;
border-right-width:0px;
}

/* --------------------------------------------------------------------- */
QLineEdit#lineEditStyled[variant="Table"]Halc
{
border-style: solid;
border-width: 1px;
padding-left: 6px;
padding-right: 6px;
}

/* --------------------------------------------------------------------- */
