QPushButton
{
/* suppress dotted rectangle: */
outline: none;
}


/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgePubIconOnly,
QPushButton[styleRole="toggle-bold"],
QPushButton[styleRole="toggle"]
{
border-style: solid;
text-align: center;
}

/* --------------------------------------------------------------------- */
QPushButton[styleRole="color-only"]
{
border-style: solid;
border-width: 1px;
padding: 0px;
text-align: center;
}

/* --------------------------------------------------------------------- */
QPushButton[styleRole="cancel"]
{
border-style: solid;
border-radius:  4px;
border-top-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
padding: 0px;
text-align: center;
}

QPushButton[styleRole="cancel"]:focus
{
text-decoration: underline;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgePubUpdate,
stw--opensyde_gui_elements--C_OgePubAddChartDataElement
{
border-style: solid;
border-radius: 0px;
border-width: 1px;
padding: 0px;
padding-left: 22px;
padding-bottom: 1px;
height: 27px; /* 27 (height) + 1  (padding) + 2x1 (Border) = 30 (real height) */
width: 126px; /* 126 (width) + 22 (padding) + 2x1 (Border) = 150 (real width) */
}

/* --------------------------------------------------------------------- */
QPushButton[styleRole="dialog"]
{
border-style: solid;
border-radius: 4px;
border-width: 1px;
}

stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="configure"]:enabled,
stw--opensyde_gui_elements--C_OgePubGenericTextWithBackground
{
border-style: none;
}

stw--opensyde_gui_elements--C_OgePubGenericTextWithBackground[BorderActive="true"]
{
border-style: solid;
border-width: 1px;
}


stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="configure"]:!enabled
{
border-style: solid;
border-width: 1px;
}

QPushButton[styleRole="dialog"],
stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="configure"]
{
padding: 5px;
text-align: center;
}

QPushButton[styleRole="dialog"]:focus
{
text-decoration: underline;
}

stw--opensyde_gui_elements--C_OgePubOpen
{
border-style: solid;
border-width: 1px;
border-left-width: 0px;
}

stw--opensyde_gui_elements--C_OgePubOpen[WithLeftBorder=true]
{
border-style: solid;
border-width: 1px;
}

stw--opensyde_gui_elements--C_OgePubPathVariables
{
border-style: solid;
border-width: 1px;
border-left-width: 0px;
border-right-width: 0px;
}

stw--opensyde_gui_elements--C_OgePubPathVariables::menu-indicator
{
width: 0px;
}

/* --------------------------------------------------------------------- */
QPushButton[styleRole="navigation"],
QPushButton[styleRole="navigation"]Hover,
QPushButton[styleRole="text-only"]Edit,
QPushButton[styleRole="text-only"]
{
border-style: none;
}

QPushButton[styleRole="text-with-border-edit"]
{
border-style: solid;
border-radius: 0px;
border-width: 1px;
text-align: center;
padding-bottom: 1px;
}

/* --------------------------------------------------------------------- */
QPushButton[styleRole="zoom-notification"]
{
border-radius: 20px;
border-width: 0px;
text-align: center;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgePubOptions,
stw--opensyde_gui_elements--C_OgePubToolBar,
stw--opensyde_gui_elements--C_OgePubToolBar:pressed
{
border-style: none;
text-align: left;
padding-left: 20px;
padding-right: 20px;
}

stw--opensyde_gui_elements--C_OgePubOptions
{
padding-left: 40px;
}

/* --------------------------------------------------------------------- */
QPushButton[styleRole="text-only-underline"]
{
border-style: solid;
border-width: 0px;
border-bottom-width: 2px;
}
/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgePubProjAction
{
border-style: none;
padding: 10px;
padding-right: 16px;
padding-left: 54px;
}

stw--opensyde_gui_elements--C_OgePubProjAction[Border="true"]
{
border-style: solid;
border-radius: 0px;
border-width: 1px;
}

stw--opensyde_gui_elements--C_OgePubProjAction[CanMonitorButton="true"]
{
border-style: none;
text-align: left;
padding-left: 43px;
}

stw--opensyde_gui_elements--C_OgePubProjAction[NoIcon="true"]
{
padding: 10px;
}
/* --------------------------------------------------------------------- */
QPushButton[styleRole="navigation"]
{
padding-left: 26px;
text-align: left;
}

QPushButton[styleRole="navigation"]Hover
{
padding-left: 27px;
text-align: left;
}

/* --------------------------------------------------------------------- */
QPushButton[styleRole="message-ok"],
QPushButton[styleRole="message-cancel"]
{
border-style: solid;
border-radius: 2px;
border-width: 1px;
text-align: center;
min-height: 30px;
max-height: 30px;
padding-left: 15px;
padding-right: 15px;
}

QPushButton[styleRole="message-ok"]:focus,
QPushButton[styleRole="message-cancel"]:focus,
stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="halc-panel"]:focus
{
text-decoration: underline;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgePubColor
{
border-style: solid;
border-width: 0.5px;
border-radius: 10px;
padding: 5px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui--C_GiSyColorShower
{
border-style: solid;
border-width: 1px;
border-radius: 14px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="halc-overview"]
{
text-align: left;
padding-left: 19px;
padding-right: 19px;
}

stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="halc-overview"]
{
border-style: solid;
border-width: 1px;
border-bottom-width: 0px;
}

stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="data-logger-jobs-overview"]
{
border-style: none;
border-width: 0px;
border-bottom-width: 0px;
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgePubToolTipBase[styleRole="halc-panel"]
{
border-style: solid;
border-width: 1px;
border-radius: 0px;
text-align: center;
width: 78px; /*2px border*/
height: 28px; /*2px border*/
}

/* --------------------------------------------------------------------- */
stw--opensyde_gui_elements--C_OgePubIconChart
{
border-style: solid;
border-width: 1px;
}

stw--opensyde_gui_elements--C_OgePubIconChart:menu-indicator[Style="OPENSYDE_DARK"]
{
image: url(:/images/system_views/dashboards/tab_chart/IconArrowBottomDark.svg);
}

stw--opensyde_gui_elements--C_OgePubIconChart:menu-indicator[Style="OPENSYDE_BRIGHT"]
{
image: url(:/images/system_views/dashboards/tab_chart/IconArrowBottom.svg);
}

stw--opensyde_gui_elements--C_OgePubIconChart:menu-indicator:!enabled
{
image: url(:/images/system_views/dashboards/tab_chart/IconArrowBottomDisabled.svg);
}

stw--opensyde_gui_elements--C_OgePubIconChart:menu-indicator
{
subcontrol-position: right center;
subcontrol-origin: padding;
left: 3px; /*move arrow more to the right*/
}
/* --------------------------------------------------------------------- */

